{{!< admin}}

<div style="padding:20px;">

  <div class="row">
    <h3 class="ui header">【主题信息】服从善道得了教育</h3>
    <div class="ui label">
      创建日期：
      <div class="detail">2018-12-30</div>
    </div>
  </div>
  <div class="row">
    <div class="ui two column padded grid">
      <div class="column">
        <div id="scripturesDiv" class="ui raised segment">
          <a class="ui red ribbon label">经文</a>
          <p>
            你若将这些事提醒弟兄们，便是基督耶稣的好执事，在真道的话语和你向来所服从的善道上得了教育。  提摩太前书4:6

            但你们已经有的，总要持守，直等到我来。  启示录2:25
          </p>
          <i class="edit icon"></i>
        </div>
      </div>
      <div class="column">
        <div id="summaryDiv" class="ui raised segment">
          <a class="ui red ribbon label">概要</a>
          <p>
            你若将这些事提醒弟兄们，便是基督耶稣的好执事，在真道的话语和你向来所服从的善道上得了教育。  提摩太前书4:6

            但你们已经有的，总要持守，直等到我来。  启示录2:25
          </p>
          <i class="edit icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="scripturesModal" class="ui tiny modal">
  <div class="header">
    编辑经文
  </div>
  <div class="scrolling content">
    <div class="description">
      <div class="WYSIWYG" title="bullet number text">
        <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
        <p>Is it okay to use this photo?</p><p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
    <div class="ui positive right labeled icon button">
      发布
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<div id="summaryModal" class="ui tiny modal">
  <div class="header">
    编辑经文
  </div>
  <div class="scrolling content">
    <div class="description">
      <div class="WYSIWYG" title="bullet number text">
        <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
        <p>Is it okay to use this photo?</p><p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
    <div class="ui positive right labeled icon button">
      发布
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<script type="text/javascript">
require(["jquery","semantic"], function($, s){
  $('#scripturesDiv i.edit').click(function(){
    $('#scripturesModal').modal('show');
  });

  $('#summaryDiv i.edit').click(function(){
    $('#summaryModal').modal('show');
  });
});
</script>
