{{!< admin}}

<div style="padding:20px;">
  <div class="row">
    <div class="ui breadcrumb">
      <a class="section" href="./">讲章列表</a>
      <i class="right angle icon divider"></i>
      <div class="active section">{{message.title}}</div>
    </div>
  </div>
  <div class="row" style="margin-top:10px;">
  <div class="ui label">
    创建日期：
    <div class="detail">{{message.date}}</div>
  </div>
</div>
  <div class="row">
    <div class="ui two column padded grid">
      <div class="column">
        <div id="scripturesDiv" class="ui raised segment">
          <a class="ui red ribbon label">经文</a>
          <p class="content">
            {{{message.scripture}}}
          </p>
          <i class="edit icon"></i>
        </div>
      </div>
      <div class="column">
        <div id="summaryDiv" class="ui raised segment">
          <a class="ui red ribbon label">概要</a>
          <p class="content">
            {{{message.summary}}}
          </p>
          <i class="edit icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="scripturesModal" class="ui tiny modal">
  <div class="header">
    编辑经文
  </div>
  <div class="scrolling content">
    <div class="description">
      <div class="WYSIWYG" title="bullet number text">
        {{{message.scripture}}}
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
    <div class="ui positive right labeled icon button publish-button">
      发布
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<div id="summaryModal" class="ui tiny modal">
  <div class="header">
    编辑概要
  </div>
  <div class="scrolling content">
    <div class="description">
      <div class="WYSIWYG" title="bullet number text">
            {{{message.summary}}}
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
    <div class="ui positive right labeled icon button publish-button">
      发布
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<script type="text/javascript">
require(["jquery","semantic"], function($, s){
  $('#scripturesDiv i.edit').click(function(){
    $('#scripturesModal').modal('show');
  });

  $('#summaryDiv i.edit').click(function(){
    $('#summaryModal').modal('show');
  });

  $('#scripturesModal .publish-button').click(function(){
    var scripture = $('#scripturesModal .wz_rte').html();
    $.ajax({
      type: "PATCH",
      url: '#',
      data: {scripture: scripture},
      success: function(){
        location.reload();
      },
      error: function(){

      }
    });
  });

  $('#summaryModal .publish-button').click(function(){
    var summary = $('#summaryModal .wz_rte').html();
    $.ajax({
      type: "PATCH",
      url: '#',
      data: {summary: summary},
      success: function(){
        location.reload();
      },
      error: function(){

      }
    });
  });

});
</script>
