{{!< admin}}

<div class="ui grid container" style="margin-top:20px;">
  <form class="ui form">
    <div class="fields">
      <div class="field inline">
        <label>用户名</label>
        <input name="username" placeholder="请输入用户名！" type="text">
      </div>
      <div class="field inline">
        <label>密码</label>
        <input name="请输入密码！" placeholder="请输入密码！" type="password">
      </div>
      <div class="field inline">
        <label>验证码</label>
        <input name="authCode" placeholder="请输入验证码！" type="text">
      </div>
    </fields>
    <button class="ui button" type="submit">登录</button>
  </form>
</div>
