<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" class="ui" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="/libs/semantic/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/libs/my/my.css">
  <style type="text/css">
  .ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pusher {
	 -webkit-transform: translate3d(0px,0,0);
	 transform: translate3d(0px,0,0);
  }
  </style>
  <script src="/libs/require.min.js"></script>
  <script src="/libs/config.js"></script>
</head>
<body>
  <div class="ui container" style="padding-top:10px;">
    <div class="ui left visible vertical inverted sidebar labeled icon menu">
      <a class="item">
        <i class="video layout icon"></i>
        讲台
      </a>
      <a class="item" href="/admin/books">
        <i class="book layout icon"></i>
        著作
      </a>
      <a class="item">
        <i class="music layout icon"></i>
        诗歌
      </a>
    </div>
    <div class="pusher">
      {{{body}}}
    </div>
  </div>
</body>
</html>
