<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" class="ui" href="/libs/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/my/my.css">

    <script src="/libs/require.min.js"></script>
    <script src="/libs/config.js"></script>
  </head>
  <body>
    <div class="ui fluid container">
    {{{body}}}
  </div>
  </body>
</html>
