<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/libs/foundation/foundation.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/libs/semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="/libs/my/my.css">

    <script src="https://cdn.bootcss.com/require.js/2.3.5/require.js"></script>
    <script src="/libs/config.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
