{{!< default}}
<div class="grid">
  <div class="ui three item pointing menu">
    <a class="active item" data-tab="preachs">
      讲台
    </a>
    <a class="item" data-tab="ebooks">
      属灵书籍
    </a>
  </div>
  <div class="ui segment tab content active" data-tab="preachs">
    <div class="ui stackable four column grid">
      {{#messages}}
      <div class="column">
        <div class="ui {{./color}} segment">
          <a href="./messages/{{./_id}}_1">{{./title}}</a>
        </div>
      </div>
      {{/messages}}
    </div>
  </div>

  <div class="ui segment tab content" data-tab="ebooks">
    ebooks
  </div>
</div>

<script type="text/javascript">
require(["jquery", "semantic"], function($, s) {
  $('.menu .item').tab();
});
</script>
