{{!< default}}
<div class="grid-container full">
  <div class="grid-x">
    <div class="small-12">

      <div class="ui three item pointing menu">
        <a class="active item">
          讲台
        </a>
      </div>
      <div class="ui segment">
        <div class="ui segment">
          {{#messages}}
          <div class="ui {{./color}} segment">
            <a href="./messages/{{./_id}}/video">{{./title}}</a></div>
          {{/messages}}
        </div>
      </div>
    </div>
  </div>
</div>
