{{!< default}}
<div class="ui secondary menu">
  <a href="/" class="item"><i class="home icon" style="line-height:38px;font-size:38px;"></i></a>
  <div class="right menu">
    <div class="item" style="display:none;">
      <div class="ui search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="请输入关键词">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>
</div>

<div class="ui stackable grid">
  <div class="row" style="padding:0px;">
    <div class="eleven wide column" >
      <div id="videoContainer">
        <div class="ui mini message brown" style="text-align:center;margin:0;">建议在wifi下观看视频，移动网络可切换到音频播放</div>
        <video id="videoPlayer" controls style="width:100%;" poster="{{videoUrl}}/data/messages/{{message._id}}/video_cover.jpg">
          <source src="{{videoUrl}}{{currentPart.video.url}}"  type="video/mp4"/>
          您的浏览器不支持 HTML5 video 标签。
        </video>
      </div>

      <div id="audioContainer" style="display:none;">
        <audio id="audioPlayer" src="{{videoUrl}}{{currentPart.audio.url}}" controls="controls">
          Your browser does not support the audio element.
        </audio>
      </div>


      <hr style="margin:5px;">
      <div id="sermonTitle" style="color:#FF9224;">
        {{currentPart.title}}
      </div>

    </div>

    <div class="five wide column">
      <div class="ui equal width grid">
        <div class="column">
          <div id="avSwitchButton" class="ui buttons">
            <button id="videoButton" data-type="video" class="ui positive button active">视频</button>
            <div class="or"></div>
            <button id="audioButton" data-type="audio" class="ui button">音频</button>
          </div>
        </div>

        <div class="column">
          <div class="ui toggle checkbox">
            <input id="autoPlay" class="hidden" type="checkbox">
            <label>连续播放</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="ui secondary three item pointing menu">
      <div class="item active" data-tab="mediaList">媒体列表</div>
      <div class="item" data-tab="scriptures">经文</div>
      <div class="item" data-tab="summary">概要</div>
    </div>
    <div id="mediaList" class="ui tab active" data-tab="mediaList" style="width:100%;">
      <div class="ui segments">
        {{#parts}}
        <div class="ui grey segment {{active}}" data-audio="{{../videoUrl}}{{audio.url}}"  data-video="{{../videoUrl}}{{video.url}}" data-title="{{../message.title}}({{partNo}}/{{../message.countOfParts}})">
          <p>{{title}}</p>
        </div>
        {{/parts}}
      </div>
    </div>
    <div class="ui tab" data-tab="scriptures">
      <div class="ui raised text container segment">
        {{message.scripture}}
      </div>
    </div>
    <div class="ui tab" data-tab="summary">
      <div class="ui raised text container segment">{{message.summary}}</div>
    </div>
  </div>
</div>


<script type="text/javascript">
require(["jquery","semantic"], function($, s){
  $('.menu .item').tab();

  var videoPlayer = document.getElementById("videoPlayer");
  var audioPlayer = document.getElementById("audioPlayer");
  videoPlayer.addEventListener("ended", function(){
    $('#autoPlay').change();
    if($('#videoButton').hasClass('active') && $('#autoPlay').is(':checked')){
      setTimeout(function(){
        $('#mediaList .active').next().click();
      }, 2000);
    }
  });

  audioPlayer.addEventListener("ended", function(){
    $('#autoPlay').change();
    if($('#audioButton').hasClass('active') && $('#autoPlay').is(':checked')){
      setTimeout(function(){
        $('#mediaList .active').next().click();
      }, 2000);
    }
  });

  var currentMode = 'v';
  $('#avSwitchButton').click(function(){
    if(currentMode == 'v'){
      videoPlayer.pause();
      $('#audioContainer').show();
      $('#videoContainer').hide();
      audioPlayer.load();
      currentMode = 'a';
    }else{
      audioPlayer.pause();
      $('#videoContainer').show();
      $('#audioContainer').hide();
      videoPlayer.load();
      currentMode = 'v';
    }

    $(this).find('.button').each(function(i, item){
      var item = $(item);
      if(item.hasClass('active')){
        item.removeClass('active positive');
      }else{
        item.addClass('active positive');
      }
    });
  });

  $('.ui.checkbox').checkbox();

  $('#autoPlay').change(function(){
    var isAutoPlay = $(this).is(':checked');
    videoPlayer.autoplay = $('#videoButton').hasClass('active') && isAutoPlay
    audioPlayer.autoplay = $('#audioButton').hasClass('active') && isAutoPlay;
  });

  $('#mediaList .segment').click(function(){
    if($(this).hasClass('active')){
      return false;
    }

    $('#mediaList .segment').removeClass('active');
    $(this).addClass('active');
    $('#sermonTitle').html($(this).data('title'));

    var self = this;
    if($('#audioButton').hasClass('active')){
      audioPlayer.src = $(self).data('audio');
      audioPlayer.load();
      audioPlayer.play();
    }else{
      videoPlayer.src = $(self).data('video');
      videoPlayer.load();
      videoPlayer.play();
    }
  });
})
</script>
