{{!< admin}}

<div class="ui large breadcrumb">
  <a class="section" href="/">首页</a>
  <span class="divider">/</span>
  <a class="section" href="/admin/books">电子书列表</a>
  <span class="divider">/</span>
  <div class="active section">选择文章</div>
</div>

<div class="ui divider"></div>
<div class="ui ordered steps">
  <div class="completed step">
    <div class="content">
      <div class="title">新建电子书</div>
    </div>
  </div>
  <div class="active step">
    <div class="content">
      <div class="title">选择文章</div>
    </div>
  </div>
  <div class="step">
    <div class="content">
      <div class="title">修改文章标题</div>
    </div>
  </div>
</div>

<table id="articlesTable" class="display" style="width:100%">
  <thead>
    <tr>
      <th><input type="checkbox" id="selectAll"/></th>
      <th>标题</th>
      <th>推送时间</th>
    </tr>
  </thead>
  <tbody>
    {{#articles}}
    <tr>
      <td><input type="checkbox" class="checkbox" value="{{_id}}" name="checkbox"/></td>
      <td data-title="{{title}}"><a href="{{url}}" target="_blank">{{title}}</a></td>
      <td data-sort="{{create_time}}">{{date create_time unit='s'}}</td>
    </tr>
    {{/articles}}
  </tbody>
</table>
<button id="finishButton" class="ui button" type="submit">完成选择</button>

<script type="text/javascript">
require(["jquery", "datatable"], function($) {
  $('#articlesTable').DataTable({
    "order": [[ 2, "asc" ]],
    pageLength: 10
  });

  $('#selectAll').change(function(){
    $('.checkbox').attr('checked', $('#selectAll').is(':checked'));
  });

  $('#finishButton').click(function(){
    let articles = [];
    $('.checkbox:checked').each(function(index, item){
      articles.push({
        id: $(item).val(),
        title: $(item).parent().next().data('title')
      });
    });

    $.post('select-articles', {articleTitles: JSON.stringify(articles)}, function(response){
      if(response.status == 'success'){
        location.href = response.redirectUrl;
      }
    });
  });
});
</script>
